{% extends "base.html" %}
{% block title %}Coloring · Juegos{% endblock %}

{% block header %}
  <div class="card-header">
    <div class="card-title">Coloring</div>
    <div>
      <a class="btn btn-sm" href="{% url 'coloring:export' juego.id 'pdf' %}">PDF</a>
      <a class="btn btn-sm" href="{% url 'coloring:export' juego.id 'zip' %}">ZIP</a>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="row">
  {% for img in juego.resultado %}
  <div class="col-4">
    <img src="{{ MEDIA_URL }}{{ img.path }}" alt="dibujo" class="img-fluid">
  </div>
  {% endfor %}
</div>
{% endblock %}
