{% extends "base.html" %}
{% block title %}Mandala #{{ jg.id }}{% endblock %}

{% block header %}
  <div class="card-header">
    <div class="card-title">Mandala #{{ jg.id }}</div>
    <div>
      <a class="btn btn-sm" href="{% url 'mandala:export' jg.id %}?format=pdf">PDF</a>
      <a class="btn btn-sm" href="{% url 'mandala:export' jg.id %}?format=png">PNG</a>
      <a class="btn btn-sm" href="{% url 'mandala:export' jg.id %}?format=svg">SVG</a>
    </div>
  </div>
{% endblock %}

{% block content %}
<div>{{ svg|safe }}</div>
{% endblock %}
