{% extends "base.html" %}
{% block title %}Generar Mandala · Juegos{% endblock %}

{% block header %}
  <div class="card-header">
    <div class="card-title">Mandala</div>
  </div>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'mandala:create' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="field">
    {{ field.label_tag }}
    {{ field }}
    {% for error in field.errors %}<div class="alert alert-error">{{ error }}</div>{% endfor %}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Generar</button>
</form>
{% endblock %}
