{% extends "lexicon/base_lexicon.html" %}
{% block title %}Importar CSV · Lexicon{% endblock %}
{% block header %}
  <div class="card-header">
    <div class="card-title">Importar CSV</div>
  </div>
{% endblock %}
{% block content_lexicon %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  <div class="field">
    {{ field.label_tag }}
    {{ field }}
    {% for error in field.errors %}<div class="alert alert-error">{{ error }}</div>{% endfor %}
  </div>
  {% endfor %}
  <button class="btn btn-primary">Subir</button>
</form>
{% endblock %}
